.header{
  background-color: black;
  margin: 0px;
  /* margin-top: -20px; */
  display: flex;
  padding: 10px;
}
.headerImage{
  width: 225px;
}
.navigation{
  display: flex;
  flex-direction: row;
}

.heading{
  color:white;
  flex-direction: row;
  margin-right: 10px;
}

.runbtn{
  background-color: rgb(207, 19, 19);
  color: white;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border: 0px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.options{
  width: 150px;
  height: 50px;
  font-size: 15px;
  border: 0px solid rgb(61, 60, 60);
  color: rgb(143, 140, 140);
  border-radius: 10px;
  margin-right: 10px;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  background-color: rgb(80, 75, 75);
}

.grid-item-code{
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-item-input{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: -1px;
}

.grid-item-output{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 2%;
}

.textbox{
  border-radius: 10px;
  resize: none;
}

.subhead{
  background-color: red;
  color: white;
  margin:10px;
  padding: 2px;
  border-radius:999px;
}